* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  background: linear-gradient(white, );
  background-attachment: fixed;
  height: 100vh;

  body::-webkit-scrollbar {
    width: 12px; /* Scroll kengligini belgilang */
  }

body::-webkit-scrollbar-track {
  background: black; /* Scroll track rangini belgilang */
}

body::-webkit-scrollbar-thumb {
  background: #888; /* Scroll thumb rangini belgilang */
  border-radius: 6px; /* Scroll thumb uchun burchaklarni yumshating */
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Scroll thumb rangini hover holatda o'zgartiring */
}

/* Gorizontal scroll */
body::-webkit-scrollbar-horizontal {
  height: 12px; /* Gorizontal scroll kengligini belgilang */
}

body::-webkit-scrollbar-track-horizontal {
  background: #f1f1f1; /* Gorizontal scroll track rangini belgilang */
}

body::-webkit-scrollbar-thumb-horizontal {
  background: #888; /* Gorizontal scroll thumb rangini belgilang */
  border-radius: 6px; /* Gorizontal scroll thumb uchun burchaklarni yumshating */
}

body::-webkit-scrollbar-thumb-horizontal:hover {
  background: #555; /* Gorizontal scroll thumb rangini hover holatda o'zgartiring */
}

}
